<div>
  <h2>Hello <%= @user.name %>!</h2>
</div>

<h2>New Wiki</h2>
	<table class="table"> 
	<thead>
		<th>Wiki</th>
	</thead>
		<%= render @user.wikis %>
	</table>

<% if @user == current_user %>
	<%= render 'wikis/form' %>
<% end %>
