<h1>Collaborators for <%= @wiki.title %></h1>

<table class="table">
	<thead>
		<th>User</th>
		<th></th>
	</thead>
	<% @users.each do |user| %>
		<tr>
			<td><%= user.email %></td>
			<td>
				<% if @wiki.users.include?(user) %>
					<%# code to destroy them %>
					<% collaborator = @wiki.collaborator_for(user) %>
					<%= link_to "Remove as Collaborator", [@wiki, collaborator], method: :delete, class: "btn btn-danger" %>
				<% else %>
					<%# code to create them %>
					<%= link_to "Add as Collaborator", wiki_collaborators_path(@wiki, user_id: user.id), method: :post, class: "btn btn-success" %>		
				<% end %>
			</td>
		</tr>
	<% end %>
</table>
